---
layout: index
---
<div id="projects" class="windowcontent">
  <div class="content">
    <div class="projects-container">
      <div class="projects-sidebar">
        <button id="show-projects" class="btn btn-project">Projects <i class="fas fa-chevron-circle-down"></i></button></h1>
        {% for post in site.posts %}
          <button class="btn btn-project tablinks">{{ post.title }}</button>
        {% endfor %}
      </div>
      <div class="projects-main">
        {% include projects.html %}
      </div>
    </div>
  </div>
</div>
