<div class="header">
  <button class="btn header-tab"><i class="fas fa-times"></i></button>
  <a class="btn header-tab btn-lines" href="/"><i class="fas fa-home"></i> home</a>
  <a class="btn header-tab btn-lines" href="/about"><i class="fas fa-user-circle"></i> about</a>
  <a class="btn header-tab btn-lines" href="/projects"><i class="fas fa-briefcase"></i> projects</a>
  <a class="btn header-tab btn-lines" href="/contact"><i class="fas fa-envelope-open-text"></i> contact</a>
  <button class="btn header-tab"><i class="fas fa-plus"></i></button>
</div>