{% for post in site.posts %}
<div id="{{ post.title }}" class="projects-content tabcontent">
  <h2>{{ post.title }}
  <a href="{{post.github_link}}" class="btn btn-links purple"><i class="fab fa-github"></i></a>
  <a href="{{post.live_link}}" class="btn btn-links yellow"><i class="fas fa-external-link-alt"></i></a></h2>
  <h4>Project Lead: {{ post.lead }}</h4>
  <h4>Collaborators: {{ post.collaborators }}</h4>
  <h5>{{ post.description }}</h5>
  <p>{{ post.content }}</p>
</div>
{% endfor %}
<br>