<!-- Twitter cards -->
<meta name="twitter:site"    content="@{{ site.twitter_username }}">
<meta name="twitter:creator" content="@{{ site.author }}">
<meta name="twitter:title"   content="Susan's Portfolio">

{% if page.description %}
  <meta name="twitter:description" content="{{ page.description}}">
{% else %}
  <meta name="twitter:description" content="{{ site.description }}">
{% endif %}

<meta name="twitter:card"  content="summary">
<meta name="twitter:image" content="{{ site.title_image }}"></meta>
<!-- end of Twitter cards -->