@import "../_data/scss/fontawesome.scss";
@import "../_data/scss/solid.scss";
@import "../_data/scss/brands.scss";

@import "config/colors";
@import "config/fonts";

@import "components/index";

@import "pages/home";
@import "pages/projects";
@import "pages/posts";
@import "pages/queries";

// Basic configuration
* {
  box-sizing: border-box;
  a {
    text-decoration: none;
    color: inherit;
    font-family: $linkFont;
  }
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  margin: 0;
  p {
    line-height: 1.6rem;
    font-family: $bodyFont;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: $headerFont;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
}
