@import "config/colors";
@import "config/fonts";

@import "components/index";

@import "pages/index";


$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: white;
  color: $bodyColor;
  font-family: $bodyFont;
}
