@import "../_data/scss/fontawesome.scss";
@import "../_data/scss/solid.scss";
@import "../_data/scss/brands.scss";

@import "config/colors";
@import "config/fonts";

@import "components/index";

@import "pages/home";
@import "pages/projects";
@import "pages/posts";
@import "pages/queries";
@import "pages/about";

// Basic configuration
* {
  box-sizing: border-box;
  a {
    text-decoration: none;
    color: inherit;
    font-family: $linkFont;
  }
}
body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bkgColor;
  margin: 0;
  p, ul, ol {
    line-height: 2rem;
    font-family: $bodyFont;
    margin-bottom: 2rem;
    color: $borderColor;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: $bodyFont;
  color: black;
  margin: 2rem 0px;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
