body {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 98vh;
  overflow: hidden;
}
.window {
  width: 95vw;
  height: 100%;
  border: 2px solid $borderColor;
  background-color: $backgroundColor;
  max-width: 800px;
}
body, .window {
  min-width: 350px;
}
@media (min-width: 550px) {
  body { padding: 10vw 5vw; }
}
@media (min-width: 900px) {
  body { padding: 10vw 10vw; }
}
