#projects {
  .content {
    display: grid;
    gap: 1rem;
    place-items: center;
    grid-template-columns: 1fr;
    width: 100%;
  }
}
#project-post {
  padding: 16px 1rem;
  text-align: left;
  display: block;
  height: 90%;
  p {
    line-height: 1.5rem;
  }
}
#projects, #project-post {
  overflow-y: scroll;
}
