#project-post {
  padding: 16px 1rem;
  text-align: left;
  display: block;
  height: 90%;
  p {
    line-height: 1.5rem;
  }
}
#projects, #project-post {
  overflow-y: scroll;
}
.projects-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 2rem;;
}

