@media (min-width: 350px) and (max-width: 550px ) {
  #projects, #home {
    width: 96vw;
  }
}
@media (min-width: 550px) {
  .header-tab { letter-spacing: 0.2rem; }
  .window {
    padding: 2rem 4vw;
  }
  .windowcontent {
    padding: 0px 7vw;
    height: 86vh;
  }
  .projects-card {
    width: 50vw;
    img {
      height: 45vw;
    }
  }
}

@media (min-width: 768px) {
  .window {
    padding: 5rem 0px;
    .windowcontent {
      width: 80vw;
      height: 76vh;
    }
  }
  .header-tab > i { margin-bottom: none;}
  .links {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }

  /* PROJECTS */
  #projects {
    h2 {
      grid-column: 1 / span 2;
    }
  }
  #project-post {
    padding: 16px 2rem;
  }
}

@media (min-width: 800px ) {
  .header-tab {
    display: inline-block;
    font-size: 1.3rem;
    letter-spacing: 0rem;
  }
  .btn-lines {
    &::before, &::after {
      content: "";
      width: clamp(15px, 1vw, 50px);
      height: 6px;
      border-top: solid 2px $borderColor;
      border-bottom: solid 2px $borderColor;
      display: inline-block;
      vertical-align: middle;
      margin: 0 12px 5px 0;
    }
    &::after {
      margin: 0 0 5px 12px;
    }
  }
  /* PROJECTS PAGE */
  #projects {
    padding: 0 5vw;
  }
}

@media (min-width: 1000px) {
  .window {
    padding: 5rem 10vw;
  }
  .btn-lines {
    &::before, &::after {
      width: 3vw;
    }
  }
}