$bodyColor: #000000;
$backgroundColor: #f7e9f6;
$borderColor: #f700ff;

$headerColor: #fdd2ff;
$headerHover: #fdd2ff;

$project-card-shadow: #23e2b9;
$project-card-bkg: #affdea;

$green: #b3e76f;
$blue: #8aedff;
$blueBorder: #8affd8;
$yellow: #ffdf51;
$purple: #da89ff;
$pink: #f598f8;

.green {
  background-color: $green;
}
.blue {
  background-color: $blue;
}
.yellow {
  background-color: $yellow;
}
.purple {
  background-color: $purple;
}
.pink {
  background-color: $pink;
}
