$bodyColor: #000000;
$backgroundColor: #fff1fe;
$borderColor: #ff00f2;

$headerColor: #fdceff;
$headerHover: #fdd2ff;

$project-card-shadow: #23e2b9;
$project-card-bkg: #affdea;
$project-card-hover: #4497e4;

$red: #ff6f6f;
$green: #b3e76f;
$blue: #8aedff;
$blueBorder: #8affd8;
$yellow: #ffdf51;
$purple: #da89ff;
$pink: #fb91ff;

.green {
  background-color: $green;
}
.blue {
  background-color: $blue;
}
.yellow {
  background-color: $yellow;
}
.purple {
  background-color: $purple;
}
.pink {
  background-color: $pink;
}
.red {
  background-color: $red;
}
