.header {
  display: flex;
  background-color: $headerColor;
  border: 2px solid $borderColor;
  border-bottom: none;
  & > :last-child {
    border-right: none;
  }
}
.header-hide {
  display: none;
}

/* NAV BAR TABS */
.header-tab {
  font-size: 1.2rem;
  margin: 0;
  letter-spacing: 0.1rem;
  padding: 8px 0px;
  display: grid;
  width: 25%;
  border-right: solid 2px $borderColor;
  background-color: $headerColor;
  color: $borderColor;
  font-family: $linkFont;
  border-bottom: 2px solid $borderColor;
  overflow: hidden;
  position: relative;
  i {
    font-size: 1.4rem;
    margin-bottom: 4px;
  }
  &.header-active {
    background-color: $backgroundColor;
    border-bottom: 2px solid $backgroundColor;
  }
  &:hover i {
    animation: shy 0.8s ease-in, dropdown 0.8s ease-in 0.8s, dropin 0.8s ease-in 1.6s;
  }
  /* For text & pseudo elements in tab */
  &:hover span, &:hover.btn-lines::after, &:hover.btn-lines::before {
    opacity: 0;
    animation: lineSettle 0.5s ease-in 1.8s;
    animation-fill-mode: both;
  }
}

/* Header tabs - line pseudo-elements */
@keyframes lineSettle {
  from { padding: 2px 0px; }
  to { opacity: 1; }
}

@keyframes shy {
  0%, 100% { top: 10%; left: -28px; transform: rotate(30deg); position: absolute; }
  20%, 40% { left: -8px; top: 10%; position: absolute;}
  50% { left: -28px; }
}
@keyframes dropdown {
  0%, 100% { top: -28px; right: 10px; transform: rotate(180deg); position: absolute; }
  20%, 40% { top: -8px; }
  50% { top: -28px; }
}
  @keyframes dropin {
  0% { transform: translateY(-30px); }
}
