.header {
  display: flex;
  background-color: $headerColor;
  border: 2px solid $borderColor;
  & > :last-child {
    border-right: none;
  }
  & > * {
    font-size: 1.2rem;
    margin: 0;
    letter-spacing: 0.1rem;
  }
}
.header-hide {
  display: none;
}

/* NAV BAR TABS */
.header-tab {
  padding: 4px 12px;
  width: 25%;
  border-right: solid 2px $borderColor;
  background-color: $headerColor;
  color: $borderColor;
  font-family: $linkFont;
  text-align: center;
  display: grid;
  &:hover {
    background-color: $headerHover;
  }
  &.header-active {
    border-bottom: 2px solid $backgroundColor;
    background-color: $backgroundColor;
  }
}
