.header {
  display: flex;
  background-color: $headerColor;
  border: 2px solid $borderColor;
  border-bottom: none;
  & > :last-child {
    border-right: none;
  }
  & > * {
    font-size: 1.2rem;
    margin: 0;
    letter-spacing: 0.1rem;
  }
}
.header-hide {
  display: none;
}

/* NAV BAR TABS */
.header-tab {
  padding: 4px 4px;
  display: grid;
  width: 25%;
  border-right: solid 2px $borderColor;
  background-color: $headerColor;
  color: $borderColor;
  font-family: $linkFont;
  border-bottom: 2px solid $borderColor;
  &:hover {
    background-color: $headerHover;
    color: rgb(250, 103, 255);
  }
  &.header-active {
    background-color: $backgroundColor;
    border-bottom: 2px solid $backgroundColor;
  }
}
