---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Susan's Portfolio</title>
    <link rel="stylesheet" href="./assets/css/main.css">
  </head>
  <body>
    <div class="window">
      <!-- Tab Links -->
      <div class="tabs">
        <button class="btn btn-header"><i class="fas fa-times"></i></button>
        <a id="home-link" class="btn btn-header btn-lines" href="/"><i class="fas fa-home"></i> home</a>
        <a id="projects-link" class="btn btn-header btn-lines" href="/projects"><i class="fas fa-briefcase"></i> projects</a>
        <a id="contact-link" class="btn btn-header btn-lines" href="/contact"><i class="fas fa-envelope-open-text"></i> contact</a>
        <a href="https://susanjsp.com" class="btn btn-header btn-lines" target="_blank"><i class="fab fa-microblog"></i> Blog</a>
        <button class="btn btn-header"><i class="fas fa-plus"></i></button>
      </div>
      <!-- Tab Content -->
      {{ content }}
    </div>
    <script type="module" src="./assets/js/main.js"></script>
  </body>
</html>

