---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../assets/css/main.css">
    <script type="module" src="../assets/js/main.js"></script>
    {% include twitter.html %}
  </head>
  <body>
    <div class="window">
      <!-- Tab Links -->
      {% include header.html %}
      <!-- Tab Content -->
      {{ content }}
    </div>
    <script src="../assets/anime-master/lib/anime.min.js"></script>
  </body>
</html>
