---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../../assets/css/main.css">
    <script type="module" src="../../assets/js/main.js"></script>
    {% include twitter.html %}
  </head>
  <body>
    <div class="window">
      <!-- Tab Links -->
      {% include header.html %}
      <!-- Tab Content -->
      <main id="project-post" class="windowcontent">
        <!-- <a id="top"></a> -->
        <a href="/projects" class="btn btn-back">< All Projects</a>
        <h1>{{ page.title }}</h1>
        {% if page.collaborators == "none" %}
          <h2>Personal side-project by Susan</h2>
        {% else %}
          <p><strong>Collaborators: </strong>{{ page.collaborators }}</p>
        {% endif %}
        <!-- Mac Window style -->
        <div class="mac-window">
          <div class="mac-window-header">
            <div class="mac-window-buttons">
              <div class="red"></div>
              <div class="yellow"></div>
              <div class="green"></div>
            </div>
          </div>
          <img src="{{ page.mockup }}" alt="Device mockup for {{ page.title }}">
        </div>
        <article>
          {{ content }}
        </article>
        </div>
        <!-- <a id="back-to-top" href="#top" class="btn-project"><i class="far fa-hand-point-up"></i></a> -->
      </main>
    <script src="../assets/anime-master/lib/anime.min.js"></script>
  </body>
</html>
